<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./app/init.php" color="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" converWarningToExceptions="true" stopOnFailures="false" syntaxCheck="false">
    <testsuites>
        <testsuite name="Vor app tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit >