.post-form
    margin-top: 2rem
    margin-bottom: 2rem
    &__button
        margin-top: 1rem
        margin-right: 1rem
        margin-bottom: 1rem

.comments
    display: inline-block
    margin-top: 2rem
    width: 100%
    padding: 0.8rem
    &__element
        margin-top: 1.5rem
        display: block
        border: 1px solid #dadada
        border-radius: 3px
        background: none repeat scroll 0 0 #ffffff
        padding: 0.9rem
    &__content
    