.post-form
    margin-top: 2rem
    margin-bottom: 2rem
    &__upload
        position: relative
        display: inline-block
        padding: 0.2rem 0.2rem
        margin-top: 0.2rem
        &__input
            position: absolute
            left: 0px
            height: 100%
            width: 100%
            opacity: 0
            background: #00f
            z-index: 999
        &--icon
            position: relative
        &--icont:hover,
        &--icon:active,
        &--icon:focus
            cursor: pointer
        


.comments
    display: inline-block
    margin-top: 2rem
    width: 100%
    padding: 0.8rem
    &__element
        margin-top: 1.5rem
        display: block
        border: 1px solid #dadada
        border-radius: 3px
        background: none repeat scroll 0 0 #ffffff
        padding: 0.9rem
    &__content
        padding: 1.5rem

    