\:root
    font-size: 16px

*
    margin: 0
    padding: 0
    font-size: 1rem
    font-family: 'Roboto', sans-serif
    line-height: 1.5
    

h1,h2,
h3,h4,
h5,h6

    font-weight: bold
    text-rendering: optimizeLegibility
    line-height: 1.25
    margin-bottom: 0.89rem

h1
    font-size: 2.7rem

h2
    font-size: 2rem

h3
    font-size: 1.7rem

h4
    font-size: 1.5rem

h5
    font-size: 1.3rem

h6
    font-size: 1.2rem


html, body
    height: 100%
    background: none repeat scroll 0 0 #ffffff

a
    background: 0 0
    color: #444
    -webkit-transition: 0.5s ease-out
    -moz-transition: 0.5s ease-out
    -o-transition: 0.5s ease-out
    transition: 0.5s ease-out

button
    -webkit-transition: 0.5s ease-out
    -moz-transition: 0.5s ease-out
    -o-transition: 0.5s ease-out
    transition: 0.5s ease-out


a:focus,
a:hover,
a:active
    color: #428bca



p
    font-weight: 400
    line-height: 1.5


a:focus,
a:active,
a:hover
    text-decoration: none
    color: #428bca


img
    height: auto
    max-width: 100%
    vertical-align: middle


button
    font-size: 1rem


pre
    background: black
    color: #00FF00

pre, code
    font-size: 0.9rem
    

textarea
    resize: none

hr
    border-top: 1px solid #e5e5e5
    margin: 1rem 0 0