\:root
    font-size: 16px

*
    margin: 0
    padding: 0
    font-size: 1rem
    font-family: "PT Sans", Helvetica, Arial, sans-serif
    line-height: 1.5

h1,h2,
h3,h4,
h5, h6

    font-weight: bold
    font-size: 2rem
    text-rendering: optimizeLegibility
    line-height: 1.25
    margin-bottom: 0.89rem

html, body
    height: 100%

a
    background: 0 0
    color: #444
    -webkit-transition: 0.5s ease-out
    -moz-transition: 0.5s ease-out
    -o-transition: 0.5s ease-out
    transition: 0.5s ease-out

button
    -webkit-transition: 0.5s ease-out
    -moz-transition: 0.5s ease-out
    -o-transition: 0.5s ease-out
    transition: 0.5s ease-out


a:focus,
a:hover,
a:active
    color: #428bca



p
    font-weight: 400
    line-height: 1.5


a:focus,
a:active,
a:hover
    text-decoration: none
    color: #428bca


img
    height: auto
    max-width: 100%
    vertical-align: middle


button
    font-size: 1rem


pre, code
    font-size: 0.9rem
    // overflow: hidden !important
    // display: block
    // border-radius: 0