// user only for debugging
.box
    border: 1px red solid

.full-layout
    height: 100%

.right-column
    background-color: #f2f2f2
    display: table
    &__layout
        height: 100%

.left-column
    position: fixed
    color: white
    background-color: #333
    display: table
    &--layout
        height: 100%
    &__container
        display: table-cell
        vertical-align: middle
    &__title
        margin-top: -2.5rem

.meta-list
    list-style-type: none
    margin-top: 1.7rem
    background-position: center
    background-size: 1.9rem
    &__item
        display: inline-block
        width: 2rem
        height: 2rem
    &__item:nth-child(2),
    &__item:nth-child(3)
        margin-left: 0.7rem
    &__link
        display: block
        width: 100%
        height: 100%
        color: white
    &__link:hover,
    &__link:focus,
    &__link:active
        color: black

.art
    font-size: 1rem
    width: 100%
    height: 100%
    padding-top: 2em
    padding-bottom: 2em
    padding-left: 10%
    padding-right: 10%

.page-preview
    margin-top: 2rem
    border: 1px solid #dadada
    border-radius: 3px
    background: none repeat scroll 0 0 #ffffff
    padding: 1.5rem 1.5rem
    &__image
        -webkit-transition: opacity 0.5s ease-out
        -moz-transition: opacity 0.5s ease-out
        -o-transition: opacity 0.5s ease-out
        transition: opacity 0.5s ease-out
        object-fit: cover
        min-width: 100%
    &__link
        &--header // background image
            display: block
            width: 100%
        &--header:hover
            opacity: 0.8
    &__inner
        padding-top: 0.7rem
        padding-left: 0.7rem
    &__meta
        width: 100%
        padding: 0.8rem
        &__item
            &--timestamp
                display: block
                margin-top: 0.3rem
                margin-left: 0.9rem
                & > time
                    font-size: 0.8rem
                
        &__item:nth-child(2),
        &__item:nth-child(3)
            margin-left: 0.8rem
    &__headeline
        margin-bottom: 2rem
    &__footer
        display: block
        width: 100%
        height: 100%
        margin-top: 2rem
    &__button
        float: right
    &__hashtags
        width: 100%
        &__link
            display: inline-block
            margin-top: 0.5rem
        &__span
            -webkit-transition:  background 0.5s ease-out
            -moz-transition: background 0.5s ease-out
            -o-transition: background 0.5s ease-out
            transition: background 0.5s ease-out
        &__span:hover,
        &__span:active,
        &__span:focus
            background-color: #428bca
    &__content
        p
            font-size: 1.1rem
        blockquote
            font-weight: 300
            font-style: italic
        &--wrap
            margin-top: 1rem
            margin-bottom: 0.2rem
            border-radius: 3px
        &--left-wrap
            margin-left: 0
            margin-right: 1.2rem
            float: left
        &--right-wrap
            margin-righ: 0
            margin-left: 1.2rem
            float: right
        
        
.menu
    margin-top: 1.7rem
    color: #fff
    font-weight: bold
    &__item
        color: #fff
        display: block
        margin-top: 0.4rem
        font-size: 1.1em
    &__item:hover,
    &__item:focus,
    &__item:active
        color: black    