@media only screen and(max-width: 991px)
    .left-column
        position: static
        &__container
            display: block
            position: relative
    .art
        padding-left: 1%
        padding-right: 1%
    
    .menu
        &__item
            display: inline-block
            margin-left: 0.8rem

@media only screen and(max-width: 991px) and (min-width: 768px)
    \:root
        font-size: 14px
    .left-column
        display: block
        &--layout
            height: 35%
        &__container
            top: 35%
    .right-column--layout
        height: 65%

@media only screen and(max-width: 768px) and (min-width: 500px)
    \:root
        font-size: 13px
    .left-column
        display: block
        &--layout
            height: 35%
        &__container
            top: 35%
    .right-column--layout
        height: 65%

@media only screen and(max-width: 500px)
    \:root
        font-size: 10px
    .left-column
        display: block
        &--layout
            height: 20%
        &__container
            top: 30%
    .right-column--layout
        height: 80%
    .art
        padding-top: 1em
        padding-bottom: 1em
        padding-left: 1%
        padding-right: 1%
        
    .about__gpg
        font-size: 0.7rem

@media only screen and(max-width: 375px) and (min-width: 319px)
    \:root
        font-size: 9px
    .art
        padding-top: 0.2em
        padding-bottom: 0.2em
        padding-left: 0
        padding-right: 0

@media only screen and(max-width: 320px) and (min-width: 150px)
    \:root
        font-size: 8px
    .art
        padding-top: 0.1em
        padding-bottom: 0.1em
        padding-left: 0
        padding-right: 0