@media only screen and(max-width: 991px)
    aside
        display: block
        position: relative
    .left-column
        position: static
    
    .articles-container
        padding-left: 1%
        padding-right: 1%

@media only screen and(max-width: 991px) and (min-width: 768px)
    \:root
        font-size: 14px
    .left-column
        display: block
    .left-column-layout
        height: 35%
    .right-column-layout
        height: 65%
    aside
        top: 35%

@media only screen and(max-width: 768px) and (min-width: 500px)
    \:root
        font-size: 13px
    .left-column
        display: block
    .left-column-layout
        height: 35%
    .right-column-layout
        height: 65%
    aside
        top: 35%

@media only screen and(max-width: 500px)
    \:root
        font-size: 10px
    .left-column
        display: block
    .left-column-layout
        height: 20%
    .right-column-layout
        height: 80%
    aside
        top: 25%
    .articles-container
        padding-top: 1em
        padding-bottom: 1em
        padding-left: 1%
        padding-right: 1%

@media only screen and(max-width: 375px) and (min-width: 319px)
    \:root
        font-size: 9px

    .articles-container
        padding-top: 0.2em
        padding-bottom: 0.2em
        padding-left: 0
        padding-right: 0 


@media only screen and(max-width: 320px) and (min-width: 150px)
    \:root
        font-size: 8px

    .articles-container
        padding-top: 0.1em
        padding-bottom: 0.1em
        padding-left: 0
        padding-right: 0
