<!DOCTYPE html>
<html>
{{> header }}
<body class="container w-40 px-4 my-5">
    <header class="row align-items-start">
        <div class="media">
            <a class="logo" href="/">
                <img class="align-self-start mr-3" with="56" height="56" src="/assets/images/logo/main.png" alt="main-logo">
            </a>
            <div class="media-body">
                <a class="no-underline link-no-style" href="/">
                    <h4 class="mb-0 font-weight-bold">Vor</h4>
                </a>
                <div class="nav">
                    <a class="py-0 pl-0 nav-link border-right-dotted" href="/">Home</a>
                    <a class="py-0 nav-link border-right-dotted" href="/about">About</a>
                    <a class="border-right-0 py-0 nav-link border-right-dotted" href="/archive">Archive</a>
                </div>
            </div>
        </div>
    </header>
    <section class="row mt-4">
        <p class="text-justify">Sed ut perspiciatis <a href="#">voluptatem</a> sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
    </section>
    <section class="row mt-4">
        <img class="mx-auto" src="/assets/images/header/cactus.png" witdh="150" height="256" alt="cactus.png">
    </section>
    <section class="row mt-4">
        <a class="my-2 px-0 col-12" href="#"> <h4 class="font-weight-bold">Experience with programming languages:</h4></a>
        <div class="mr-2">PHP,</div>
        <div class="mr-2">Python,</div>
        <div class="mr-2">Java,</div>
        <div class="mr-2">PL/SQL,</div> 
        <div class="mr-2">Go,</div>
        <div class="mr-2">Bash,</div>
        <div class="mr-2">Powershell,</div>
        <div class="mr-2">Assembly and</div>
        <div class="mr-2">C</div>
    </section>
    <section class="row mt-4">
        <a class="my-2 px-0 col-12" href="#"> <h4 class="font-weight-bold">Experience with markup languages </h4></a>
        <div class="mr-2">Markdown,</div>
        <div class="mr-2">HTML,</div>
        <div class="mr-2">Latex and</div> 
        <div class="mr-2">Jade</div>
    </section>
    <section class="row mt-4">
        <a class="my-2 px-0 col-12" href="#"> <h4 class="font-weight-bold">Other technologies used over the years</h4></a>
        <div class="mr-2">CSS,</div>
        <div class="mr-2">SASS,</div>
        <div class="mr-2">Docker,</div> 
        <div class="mr-2">Juju,</div>
        <div class="mr-2">GruntJS,</div>
        <div class="mr-2">Browserfy,</div>
        <div class="mr-2">NodeJs,</div>
        <div class="mr-2">Bootstrap,</div>
        <div class="mr-2">RaspebrryPi,</div>
        <div class="mr-2">Arduino,</div>
        <div class="mr-2">Apache, </div>
        <div class="mr-2">Linux</div>
    </section>
    <section class="row mt-4">
        <a class="my-2 px-0 col-12" href="#"> <h4 class="font-weight-bold">PGP public key</h4></a>
            <pre><code>{{> pgp }}</code></pre>
        </section>
    <footer class="row mt-5">
        <small> Theme design made by 
        <a href="https://github.com/probberechts">Pieter Robberechts</a> and reimplemented by
        <a href="https://github.com/hoenirvili/">me</a> using boostrap4</small> 
    </footer>
{{> footer }}
</body>
</html>