<!DOCTYPE html>
<html>
{{> header }}
<body>
    <div class="container-fluid full-layout">
        <div class="row full-layout">
            {{> left-column }}
            <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12 right-column right-column__layout">
                <h1 class="archive-header">Archive</h1>
                {{#.}}
                <article class="archive">
                    <h3 class="archive__year">{{year}}</h3>
                    {{#data}}
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="/article/{{id}}">{{title}}</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">{{day}} {{month}}</time></div>
                    </div>
                    {{/data}}
                    <hr>
                </article>
                {{/.}}
            </div>
        </div>
    </div>
{{> footer }}
</body>
</html>