<!DOCTYPE html>
<html>
{{> header }}
<body>
    <div class="container-fluid full-layout">
        <div class="row full-layout">
            {{> left-column }}
            <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12 right-column right-column__layout">
                <h1 class="archive-header">Archive</h1>
                <article class="archive">
                    <h3 class="archive__year">2014</h3>
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">Home to unique ideas from the world’s smart minds.</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">24 Dec</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">A Primer on Android navigation</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">15 March</time></div>
                    </div>
                     <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">No More Nude Bathing: How Body Shame </a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">17 March</time></div>
                    </div>
                     <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">I Have MS: Access to Healthcare Is Personal for Me</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">22 March</time></div>
                    </div>
                    <hr>
                </article>
                <article class="archive">
                <h3 class="archive__year">2017</h3>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">The Immigration Ban is a Headfake, and We’re Falling For It</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">24 Dec</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">No More Nude Bathing: How Body Shame </a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">21 Dec</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">The Immigration Ban is a Headfake, and We’re Falling For It</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">15 March</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">My giant JavaScript Basics course is now live on YouTube. And it’s 100% free.</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">21 March</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">The Purpose Of Life Is Not Happiness: It’s Usefulness</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">17 January</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">Give it five minutes</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">13 July</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">I Got Rejected by Apple Music… So I Redesigned It</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">8 September</time></div>
                    </div>
                    <hr>
                </article>
                <article class="archive">
                <h3 class="archive__year">2018</h3>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">The Immigration Ban is a Headfake, and We’re Falling For It</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">24 Dec</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">No More Nude Bathing: How Body Shame </a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">21 Dec</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">The Immigration Ban is a Headfake, and We’re Falling For It</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">15 March</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">My giant JavaScript Basics course is now live on YouTube. And it’s 100% free.</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">21 March</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">The Purpose Of Life Is Not Happiness: It’s Usefulness</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">17 January</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                            <a class="archive__link" href="#">Give it five minutes</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">13 July</time></div>
                    </div>
                    <div class="row archive__element">
                        <div class="col-md-9">
                           <a class="archive__link" href="#">I Got Rejected by Apple Music… So I Redesigned It</a>
                        </div>
                        <div class="col-md-3"><time class="archive__time">8 September</time></div>
                    </div>
                    <hr>
                </article>
            </div>
        </div>
    </div>
{{> footer }}
</body>
</html>