<!DOCTYPE html>
<html>
{{> header }}
<body>

<header class="sticky-top mt-4 d-flex justify-content-end flex-row align-items-start">
    <aside class="pr-0 navbar flex-column align-items-end mr-1">
        <nav class="nav">
            <a class="py-0 pl-0 nav-link border-right-dotted" href="/">Home</a>
            <a class="py-0 nav-link border-right-dotted" href="/about">About</a>
            <a class="border-right-0 py-0 nav-link border-right-dotted" href="/archive">Archive</a>
        </nav>
        <nav class="nav mt-3">
            <a class="nav-link" href="#"><i class="fas fa-chevron-left"></i></a>
            <a class="nav-link" href="#"><i class="fas fa-chevron-right"></i></a>
            <a class="nav-link" href="#"><i class="fas fa-chevron-up"></i></a>
        </nav>
    </aside>
    <nav class="mt-2 mr-4 p-0 navbar">
        <button class="border-0 p-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#help-menu" aria-controls="#help-menu" aria-expanded="false" aria-label="toggle navigation">
                <i class="fas fa-bars fa-md"></i>
        </button>
    </nav>
</header>
<div class="container w-40 px-4 my-5">
    <section class="row mt-4">
        <a class="mb-3 no-underline link-no-style" href="/">
            <h4 class="mb-0 font-weight-bold">Inventore veritatis et quasi</h4>
        </a>
        <p class="text-justify">Sed ut perspiciatis <a href="#">voluptatem</a> sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        <p class="text-justify">Sed ut perspiciatis <a href="#">voluptatem</a> sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        <p class="text-justify">Sed ut perspiciatis <a href="#">voluptatem</a> sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        <p class="text-justify">Sed ut perspiciatis <a href="#">voluptatem</a> sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
        <p class="text-justify">Sed ut perspiciatis <a href="#">voluptatem</a> sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
    </section>
</div>
{{> footer }}
</body>
</html>