<!DOCTYPE html>
<html>
{{> header }}
<body>
<header class="container-fluid">
    <div class="mt-4 mx-0 row align-items-center justify-content-end ">
        <div class="collapse media" id="help-menu">
            <div class="d-flex flex-column">
                <div class="media-body">
                    <div class="nav">
                        <a class="py-0 pl-0 nav-link border-right-dotted" href="/">Home</a>
                        <a class="py-0 nav-link border-right-dotted" href="/about">About</a>
                        <a class="border-right-0 py-0 nav-link border-right-dotted" href="/archive">Archive</a>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <a class="invisible" href=""><i class="mr-4 fas fa-chevron-left"></i></a>
                    <a href=""><i class="mr-4 fas fa-chevron-right"></i></a>
                    <a href=""><i class="mr-4 fas fa-chevron-up"></i></a>
                </div>
            </div> 
        </div>
        <nav class="navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#help-menu" aria-controls="help-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
            </button>
        </nav>
    </div>
</header> 
<div class="container w-40 my-5">
    <section class="row mt-5">
    <h4 class="font-weight-bold">First post article test</h4>
    </section>
</div>
<!-- <header class="row mt-4 align-items-start fixed-top justify-content-end pos-f-t">
    <div class="d-flex flex-column collapse" id="help-menu">
        <div class="media">
            <div class="media-body">
                <div class="nav">
                    <a class="py-0 pl-0 nav-link border-right-dotted" href="/">Home</a>
                    <a class="py-0 nav-link border-right-dotted" href="/about">About</a>
                    <a class="border-right-0 py-0 nav-link border-right-dotted" href="/archive">Archive</a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end mt-4 mr-5">
            <a class="mr-4" href="#"><i class="fas fa-chevron-left"></i></a>
            <a class="mr-4" href="#"><i class="fas fa-chevron-right"></i></a>
            <a href="#"><i class="fas fa-chevron-up"></i></a>
        </div>
    </div>
    <nav class="navbar debug">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#help-menu" aria-controls="#help-menu" aria-expanded="true" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
    </nav>
</header>

<article class="container debug w-40 px-4 my-5 debug">
    <header class="row mt-5">
        <a class="my-2 px-0 col-12" href="#">
            <h4 class="font-weight-bold">IUhjduisahiuhf dsiuafh isd</h4>
        </a>
    </header>
</article> -->

{{> footer }}
</body>
</html>