<!DOCTYPE html>
<html>
{{> header}}
<body>
    <div class="container-fluid full-layout">
        <div class="row full-layout">
            {{> left-column}}
            <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12 right-column right-column__layout">
                <div class="art">
                    {{#.}}
                    <article class="page-preview">
                        <header>
                            <a href="article" title="Intro To React.js Library" class="page-preview__link--header">
                                <img class="page-preview__image" src="assets/images/header/node.png" alt="reactjs-image">
                            </a>
                        </header>

                        <div class="page-preview__inner">
                            <div class="page-preview__meta">
                                <span class="page-preview__meta__item">
                                    <i class="fa fa-calendar"></i>
                                    <a href="archive" rel="bookmark">
                                        <time class="entry-date published" datetime="2017-06-13T07:21:21+00:00">{{Time}}</time>
                                    </a>
                                </span>
                                <span class="page-preview__meta__item">
                                    <i class="fa fa-user"></i>
                                    <span>
                                        <a class="url fn n" href="about">Hoenirvili</a>
                                    </span>
                                </span>
                                <span class="page-preview__meta__item">

                                    <i class="fa fa-comment-o"></i>
                                    <a href="article#comments-section">
                                        <span data-dsqidentifier="2864 blog/?p=2864">24 Comments</span>
                                    </a>
                                </span>
                            </div>
                            <div class="page-preview__headline">
                                <a href="article">
                                    <h1>{{Title}}</h1>
                                </a>
                            </div>
                            <div class="page-preview__content text-justify">
                                <p>
                                    {{Content}}
                                </p>
                            </div>
                            <footer class="clearfix page-preview__footer">
                                <a href="article" title="Read more"><button type="button" class="btn btn-primary page-preview__button">Read more</button></a>
                                <div class="page-preview__hashtags">
                                    <a href="#" title="react" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>react
                                        </span>
                                    </a>
                                    <a href="#" title="javascript" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>javascript
                                        </span>
                                    </a>
                                    <a href="#" title="framework" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>framework
                                        </span>
                                    </a>
                                    <a href="#" title="front-end" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>front-end
                                        </span>
                                    </a>
                                     <a href="#" title="facebook" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>facebook
                                        </span>
                                    </a>
                                     <a href="#" title="php" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>php
                                        </span>
                                    </a>
                                     <a href="#" title="xhp" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>xhp
                                        </span>
                                    </a>
                                     <a href="#" title="ui-design" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>ui-design
                                        </span>
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </article>
                    {{/.}}
                    <nav aria-label="...">
                        <ul class="pager">
                            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{{> footer}}
</body>
</html>