<!DOCTYPE html>
<html>
{{> header}}
<body>
    <div class="container-fluid full-layout">
        <div class="row full-layout">
            {{> left-column}}
            <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-12 col-xs-12 right-column right-column__layout">
                <div class="art">
                    {{#articles}}
                    <article class="page-preview">
                        <header>
                            <a href="/article/{{id}}" title="Intro To React.js Library" class="page-preview__link--header">
                                <img class="page-preview__image" src="/assets/images/header/node.png" alt="reactjs-image">
                            </a>
                        </header>

                        <div class="page-preview__inner">
                            <div class="page-preview__meta">
                                <span class="page-preview__meta__item">
                                    <i class="fa fa-calendar"></i>
                                    <a href="/archive" rel="bookmark">
                                        <time class="entry-date published" datetime="2017-06-13T07:21:21+00:00">{{time}}</time>
                                    </a>
                                </span>
                                <span class="page-preview__meta__item">
                                    <i class="fa fa-user"></i>
                                    <span>
                                        <a class="url fn n" href="/about">{{username}}</a>
                                    </span>
                                </span>
                                <span class="page-preview__meta__item">

                                    <i class="fa fa-comment-o"></i>
                                    <a href="article#comments-section">
                                        <span data-dsqidentifier="2864 blog/?p=2864">{{comments}} comments</span>
                                    </a>
                                </span>
                            </div>
                            <div class="page-preview__headline">
                                <a href="/article/{{id}}">
                                    <h1>{{title}}</h1>
                                </a>
                            </div>
                            <div class="page-preview__content text-justify">
                                <p>
                                    {{content}}
                                </p>
                            </div>
                            <footer class="clearfix page-preview__footer">
                                <a href="article" title="Read more"><button type="button" class="btn btn-primary page-preview__button">Read more</button></a>
                                <div class="page-preview__hashtags">
                                    {{#tags}}
                                    <a href="/tag/{{.}}/1" title="{{.}}" class="page-preview__hashtags__link">
                                        <span class="label label-info page-preview__hashtags__span">
                                            <i class="fa fa-hashtag" aria-hidden="true"></i>{{.}}
                                        </span>
                                    </a>
                                    {{/tags}}
                                </div>
                            </footer>
                        </div>
                    </article>
                    {{/articles}}
                    <nav aria-label="...">
                        <ul class="pager">
                            {{#navigation}}
                                {{#previous}}
                                <li class="active previous"><a href="/{{previous}}"><span aria-hidden="true">&larr;</span> Older</a></li>
                                {{/previous}}
                                {{^previous}}
                                 <li class="disabled previous"><a><span aria-hidden="true">&larr;</span> Older</a></li>
                                {{/previous}}

                                {{#next}}
                                    <li class="active next"><a href="/{{next}}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                                {{/next}}
                                {{^next}}
                                    <li class="disabled next"><a>Newer <span aria-hidden="true">&rarr;</span></a></li>
                                {{/next}}
                            {{/navigation}}

                            {{#tag_navigation}}
                                {{#previous}}
                                <li class="active previous"><a href="/tag/{{previous}}"><span aria-hidden="true">&larr;</span> Older</a></li>
                                {{/previous}}

                                {{^previous}}
                                <li class="disabled previous"><a><span aria-hidden="true">&larr;</span> Older</a></li>
                                {{/previous}}

                                {{#next}}
                                    <li class="active next"><a href="/tag/{{next}}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                                {{/next}}

                                {{^next}}
                                    <li class="disabled next"><a>Newer <span aria-hidden="true">&rarr;</span></a></li>
                                {{/next}}
                            {{/tag_navigation}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{{> footer}}
</body>
</html>