<!DOCTYPE html>
<html>
{{> header}}
<body class="container w-40 px-4 my-5">
<header class="row align-items-start">
    <div class="media">
        <a class="logo" href="/">
            <img class="align-self-start mr-3" with="56" height="56" src="assets/images/logo/main.png" alt="main-logo">
        </a>
        <div class="media-body">
            <a class="no-underline link-no-style" href="/">
                <h4 class="mb-0 font-weight-bold">Vor</h4>
            </a>
            <div class="nav">
                <a class="py-0 pl-0 nav-link border-right-dotted" href="/">Home</a>
                <a class="py-0 nav-link border-right-dotted" href="/about">About</a>
                <a class="py-0 nav-link border-right-dotted" href="/archive">Archive</a>
                <a class="border-right-0 py-0 nav-link border-right" href="/projects">Projects</a>
            </div>
        </div>
    </div>
</header>
<section class="row mt-4">
    <p class="text-justify">Sed ut perspiciatis <a href="#">voluptatem</a> sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
    <p class="text-justify">Find me on
        <a href="https://github.com/hoenirvili/"><i class="fab fa-github"></i></a>.
    </p>
</section>
<section class="row mt-5">
    <a class="my-2 px-0 col-12" href="#"> <h4 class="font-weight-bold">Writing</h4></a>
    <div class="d-flex flex-column mb-3">
        <div class="flex-row">
            <time class="mr-4">2016-11-14</time>
            <a href="#">Hello World</a>
        </div>
        <div class="flex-row">
            <time class="mr-4">2016-11-01</time>
            <a href="#">Overview of all Markdown elements</a>
        </div>
        <div class="flex-row">
            <time class="mr-4">2013-12-26</time>
            <a href="#">Images</a>
        </div>
        <div class="flex-row">
            <time class="mr-4">2013-12-25</time>
            <a href="#">Untitled</a>
        </div>
        <div class="flex-row">
            <time class="mr-4">2013-12-25</time>
            <a href="#">Untitled</a>
        </div>
        <div class="flex-row">
            <time class="mr-4">2013-02-25</time>
            <a href="#">Excerpts</a>
        </div>
        <div class="flex-row">
            <time class="mr-4">2013-12-25</time>
            <a href="#">Untitled</a>
        </div>
    </div>
</section>
<section class="row mt-5">
    <a class="my-2 px-0 col-12" href="#"><h4 class="font-weight-bold">Projects</h4></a>
    <div class="d-flex flex-column mb-3">
        <div class="flex-row">
            <a href="#">Consequuntur</a>: voluptatem accusantium 
        </div>
        <div class="flex-row">
            <a href="#">Aspernatur</a>: The iconic font and CSS 
        </div>
        <div class="flex-row">
            <a href="#">Voluptas</a>: Nemo enim ipsam voluptatem quia im ipsam voluptatem quia.
        </div>
        <div class="flex-row">
            <a href="#">Ipsam</a>: veritatis et quasi architecto
        </div>
        <div class="flex-row">
            <a href="#">Quia</a>: A JavaScript library for 
        </div>
        <div class="flex-row">
            <a href="#">Aspernatur</a>: The iconic font and CSS 
        </div>
        <div class="flex-row">
            <a href="#">Ipsam</a>: veritatis et quasi architecto
        </div>
    </div>
</section>
<footer class="row mt-5">
    <small> Theme design made by 
    <a href="https://github.com/probberechts">Pieter Robberechts</a> and reimplemented by
    <a href="https://github.com/hoenirvili/">me</a> using boostrap4</small> 
</footer>
{{> footer}}
</body>
</html>