:root {
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

h1, h2,
h3, h4,
h5, h6 {
  font-weight: bold;
  font-size: 2rem;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  margin-bottom: 0.89rem; }

html, body {
  height: 100%; }

a {
  background: 0 0;
  color: #444;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

button {
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

a:focus,
a:hover,
a:active {
  color: #428bca; }

p {
  font-weight: 400;
  line-height: 1.5; }

a:focus,
a:active,
a:hover {
  text-decoration: none;
  color: #428bca; }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

button {
  font-size: 1rem; }

pre {
  background: black;
  color: #00FF00; }

pre, code {
  font-size: 0.9rem; }

textarea {
  resize: none; }

.btn {
  font-size: 1rem; }

blockquote {
  font-size: 1rem; }

.box {
  border: 1px red solid; }

.full-layout {
  height: 100%; }

.right-column {
  background-color: #f2f2f2;
  display: table; }
  .right-column__layout {
    height: 100%; }

.left-column {
  position: fixed;
  color: white;
  background-color: #333;
  display: table; }
  .left-column--layout {
    height: 100%; }
  .left-column__container {
    display: table-cell;
    vertical-align: middle; }
  .left-column__title {
    margin-top: 0; }

.meta-list {
  list-style-type: none;
  margin-top: 0.7rem;
  background-position: center;
  background-size: 1.9rem; }
  .meta-list__item {
    display: inline-block;
    width: 2rem;
    height: 2rem; }
  .meta-list__item:nth-child(2), .meta-list__item:nth-child(3) {
    margin-left: 0.7rem; }
  .meta-list__link {
    display: block;
    width: 100%;
    height: 100%;
    color: white; }
  .meta-list__link:hover, .meta-list__link:focus, .meta-list__link:active {
    color: black; }

.art {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 10%;
  padding-right: 10%; }

.page-preview {
  margin-top: 2rem;
  border: 1px solid #dadada;
  border-radius: 3px;
  background: none repeat scroll 0 0 #ffffff;
  padding: 1.5rem 1.5rem; }
  .page-preview__image {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    object-fit: cover;
    min-width: 100%; }
  .page-preview__link--header {
    display: block;
    width: 100%; }
  .page-preview__link--header:hover {
    opacity: 0.8; }
  .page-preview__inner {
    padding-top: 0.7rem;
    padding-left: 0.7rem; }
  .page-preview__meta {
    width: 100%;
    padding: 0.8rem; }
    .page-preview__meta__item--timestamp {
      display: block;
      margin-top: 0.3rem;
      margin-left: 0.9rem; }
      .page-preview__meta__item--timestamp > time {
        font-size: 0.8rem; }
    .page-preview__meta__item:nth-child(2), .page-preview__meta__item:nth-child(3) {
      margin-left: 0.8rem; }
  .page-preview__headeline {
    margin-bottom: 2rem; }
  .page-preview__footer {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 2rem; }
  .page-preview__button {
    float: right; }
  .page-preview__hashtags {
    width: 100%; }
    .page-preview__hashtags__link {
      display: inline-block;
      margin-top: 0.5rem; }
    .page-preview__hashtags__span {
      -webkit-transition: background 0.5s ease-out;
      -moz-transition: background 0.5s ease-out;
      -o-transition: background 0.5s ease-out;
      transition: background 0.5s ease-out; }
    .page-preview__hashtags__span:hover, .page-preview__hashtags__span:active, .page-preview__hashtags__span:focus {
      background-color: #428bca; }
  .page-preview__content p {
    font-size: 1.1rem; }
  .page-preview__content blockquote {
    font-style: italic; }
  .page-preview__content--wrap {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    border-radius: 3px; }
  .page-preview__content--left-wrap {
    margin-left: 0;
    margin-right: 1.2rem;
    float: left; }
  .page-preview__content--right-wrap {
    margin-righ: 0;
    margin-left: 1.2rem;
    float: right; }

.menu {
  margin-top: 1.7rem;
  color: #fff;
  font-weight: bold; }
  .menu__item {
    color: #fff;
    display: block;
    margin-top: 0.4rem;
    font-size: 1.1em; }
  .menu__item:hover, .menu__item:focus, .menu__item:active {
    color: black; }

.post-form {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .post-form__upload {
    position: relative;
    display: inline-block;
    padding: 0.2rem 0.2rem;
    margin-top: 0.2rem; }
    .post-form__upload__input {
      position: absolute;
      left: 0px;
      height: 100%;
      width: 100%;
      opacity: 0;
      background: #00f;
      z-index: 999; }
    .post-form__upload--icon {
      position: relative; }
    .post-form__upload--icont:hover, .post-form__upload--icon:active, .post-form__upload--icon:focus {
      cursor: pointer; }

.comments {
  display: inline-block;
  margin-top: 2rem;
  width: 100%;
  padding: 0.8rem; }
  .comments__element {
    margin-top: 1.5rem;
    display: block;
    border: 1px solid #dadada;
    border-radius: 3px;
    background: none repeat scroll 0 0 #ffffff;
    padding: 0.9rem; }
  .comments__content {
    padding: 1.5rem; }

@media only screen and (max-width: 991px) {
  .left-column {
    position: static; }
    .left-column__container {
      display: block;
      position: relative; }

  .art {
    padding-left: 1%;
    padding-right: 1%; }

  .menu__item {
    display: inline-block;
    margin-left: 0.8rem; } }
@media only screen and (max-width: 991px) and (min-width: 768px) {
  :root {
    font-size: 14px; }

  .left-column {
    display: block; }
    .left-column--layout {
      height: 35%; }
    .left-column__container {
      top: 35%; }

  .right-column--layout {
    height: 65%; } }
@media only screen and (max-width: 768px) and (min-width: 500px) {
  :root {
    font-size: 13px; }

  .left-column {
    display: block; }
    .left-column--layout {
      height: 35%; }
    .left-column__container {
      top: 35%; }

  .right-column--layout {
    height: 65%; } }
@media only screen and (max-width: 500px) {
  :root {
    font-size: 10px; }

  .left-column {
    display: block; }
    .left-column--layout {
      height: 20%; }
    .left-column__container {
      top: 15%; }

  .right-column--layout {
    height: 80%; }

  .art {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1%;
    padding-right: 1%; } }
@media only screen and (max-width: 375px) and (min-width: 319px) {
  :root {
    font-size: 9px; }

  .art {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0;
    padding-right: 0; } }
@media only screen and (max-width: 320px) and (min-width: 150px) {
  :root {
    font-size: 8px; }

  .art {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0;
    padding-right: 0; } }

/*# sourceMappingURL=app.css.map */
